.top{
    border:1px solid blue;
    display:flex;
    justify-content: space-around;
    padding:5px;
    width:40%;
    margin:5px;
}
.bottom{
    border:1px solid blue;
    display:flex;
    justify-content: space-around;
    background-color: coral;
    padding:5px;
    width:40%;
    margin:5px;
}
.tbox{
    width:35px;
    height:35px;
    background-color: cornflowerblue;
    
}
.bbox{
    width:35px;
    height:35px;
    background-color: purple;
}